.App {
  text-align: center;
}
.GamePanel {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Rules {
  width: 50%;
  font-size: 24px;
  padding: 0px 40px;
}
.reset {
  padding: 30px 0px;
  cursor: pointer;
  width: 650px;
  text-align: center;
  transition: 0.5s;
  color: grey;
}
.reset:hover {
  color: black;
  transform: scale(1.2);
}
.subText {
  font-size: 16px;
  margin-bottom: 50px;
}
@media (max-width: 1500px) {
  .GamePanel {
    display: block;
  }
  .Rules {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 90%;
    padding: 20px;
  }
  .Board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
  }
}
.Board {
  min-width: 600px;
  width: 50%;
}
.row {
  display: flex;
}
.cell {
  background-color: white;
  width: 200px;
  border: 14px solid #d0d0d0;

  height: 200px;
}
#cell00 {
  border-left: 0px;
  border-top: 0px;
}
#cell01 {
  border-top: 0px;
}
#cell02 {
  border-right: 0px;
  border-top: 0px;
}
#cell10 {
  border-left: 0px;
}
#cell12 {
  border-right: 0px;
}
#cell20 {
  border-left: 0px;
  border-bottom: 0px;
}
#cell21 {
  border-bottom: 0px;
}
#cell22 {
  border-right: 0px;
  border-bottom: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scene {
  perspective: 600px;
}

.black {
  background: #443c38 !important;
  color: white;
}
.white {
  background: #fff !important;
  color: black !important;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: #eee;
}

.card__face--back {
  background: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
