.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Board {
  min-width: 600px;
}
.row {
  display: flex;
}
.cell {
  background-color: white;
  width: 200px;
  border: 1px solid black;
  height: 200px;
}
#cell00 {
  border-left: 0px;
  border-top: 0px;
}
#cell01 {
  border-top: 0px;
}
#cell02 {
  border-right: 0px;
  border-top: 0px;
}
#cell10 {
  border-left: 0px;
}
#cell12 {
  border-right: 0px;
}
#cell20 {
  border-left: 0px;
  border-bottom: 0px;
}
#cell21 {
  border-bottom: 0px;
}
#cell22 {
  border-right: 0px;
  border-bottom: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
